@font-face {
    font-family: Bakery; 
    src: url("../fonts/bakery/bakery.otf");
    src: url("../fonts/bakery/bakery.ttf");
    }
@font-face{
    font-family: Aleo-Bold; 
    src: url("../fonts/aleo/Aleo-Bold.woff");
    src: url("../fonts/aleo/Aleo-Bold.ttf");
}

.Main{
    height: 84vh;
    margin: 0 5vw;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
}

.Main__content{
    width: 90vw;
    height: 30vh;
    text-align: center;
}

h1{
    font-size: 70px;
    font-family: Bakery, Arial, sans-serif;
    color: #fff;
    margin-bottom: 70px;
}

.Main__enterBtn{
    width: 200px;
    height: 48px;
    border-radius: 24px;
    background: none;
    color: #f6f6f6; 
    font-family: Aleo-Bold;
    border: 2px solid #f6f6f6;
    text-transform: uppercase;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 

    @media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
        .Main__content{
            height: 40vh;
        }
        .Main__enterBtn{
            width: 220px;
        }
        h1{
            font-size: 100px;
        }
    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        
    }

    @media only screen and (min-device-width : 1024px) and (max-device-width : 1440px) {
        h1{
            font-size: 120px;
        }
        .Main__enterBtn{
            width: 268px;
            font-size: 13px;
        }
    }
    @media only screen and (min-device-width : 1920px) {

        }