@font-face{
  font-family: Aleo-Regular; 
  src: url("fonts/aleo/Aleo-Regular.ttf");
  src: url("fonts/aleo/Aleo-Regular.woff");
}

.App{
  width: 100vw;
  height: 100vh;
  background: url('./assets/raspberry_bg.jpg')  no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2{
  font-family: aleo-regular;
}

a{
  cursor: pointer;
  font-family: aleo-regular;
}

p{
  font-family: aleo-regular;
}

button{
  cursor: pointer;
}

button:hover{
  background: rgba(255,255,255,0.5)!important;
}

.loginBtn:hover{
  background: rgb(255, 255, 255);
  border: 3px solid #a83a5e;
  color: #a83a5e;
  font-weight: 900;
}

