
.Footer{
    height: 6vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
}

.Footer__items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-left: 5vw;
    font-size: 10px;
    line-height: 13px;
    color: #b7b7b7;
}

.border{
    border-right: 1px solid #b7b7b7;
}

.Footer p:nth-child(even){
    text-align: right;
    padding-right: 5vw;
}


@media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
    .Footer{
        height: 50px;
        position: absolute; 
        bottom: 0;
    }

    .Footer__items{
        font-size: 12px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .Footer{
        height: 50px;
        position: absolute; 
        bottom: 0;
    }
    .Footer__items{
        font-size: 12px;
    }
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1440px) {
    .Footer{
        height: 50px;
        position: absolute; 
        bottom: 0;
    }
    .Footer__items{
        font-size: 12px;
    }
}
@media only screen and (min-device-width : 1920px) {
    .Footer{
        height: 60px;
        position: absolute; 
        bottom: 0;
    }
}